* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(125, 122, 117);
    color: white;
    
}
.header {
    background-color: black;
    padding: 20px;
}
main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}
aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}
main .item {
    margin-bottom: 50px;
    background-color: rgb(6, 103, 71);
    padding: 20px;
}


main .delete-icon {
    float: right;
    color: rgb(54, 106, 122);
    cursor: pointer;
    transform: scale(2);
}

main .edit-icon {
    float: right;
    margin-right: 25px;
    color:rgb(40, 72, 82);
    cursor: pointer;
    transform: scale(2);
}

main .delete-icon:hover,
main .edit-icon:hover {
    opacity: 0.5;
}